table {
    background-color: white;
    text-align: center;
    border-left: 50px;
    border-radius: 10px;
}

td {
    line-height: 20px;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
}

#BtnDlt {
    margin-bottom: 10px;
    margin-left: -1px;
    cursor: pointer;
}

#BtnUpt {
    margin-bottom: 10px;
}

#logo {
    margin-bottom: -40px;
}

#titulo {
    text-align: center;
}

#update {
    margin-top: 2%;
}